doctype html
html
  head
    title Bridge API - Events Demo
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    meta(charset="utf-8")
    link(rel="stylesheet", href="stylesheets/style.css")
    script(type="text/javascript", src="javascripts/jquery.min.js")
    script(type="text/javascript", src="javascripts/imgloaded.js")
    script(type="text/javascript", src="javascripts/masonry.js")
    script(type="text/javascript", src="javascripts/app.js")

  body
    #container!= body
